
.container-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 60px;
}

.content-box {
    width: 100%;
    height: 100%;
}

.content-box .title {
    font-size: xx-large;
    margin-bottom: 60px;
}

.content-box .info-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 160px;
    padding: 20px;
    background-color: rgba(211, 255, 252, 0.43);
    border: 1px solid gray;
}

.info-l {
    width: 50%;
    height: 100%;
}

.info-l .in-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.in-1 p {
    margin-right: 20px;
}



.info-r {
    display: flex;
    width: 50%;
    height: 100%;
}



.container-detail * {
    border: 1px solid palevioletred;
}