@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0px solid red;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #000;
    text-align: left;
    word-break: keep-all;
}


h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 5rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.2rem;
    line-height: 2.4rem;
}

h4,
h5 {
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    line-height: 2.2rem;
}

h5 {
    font-size: .8rem;
    line-height: 2rem;
}

a,
a:link,
a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-size: 0.9rem;
    letter-spacing: -.02rem;
    width: 100%;
    margin: 0 auto;
    padding: .6rem;
    border: 1px solid #aaa;
    transition: 0.1s;
    cursor: pointer;
}

button img {
    vertical-align: middle;
}

img {
    width: 100px;
}

/* start */
.product {
    padding: 20px 30px;
}

.product img {
    width: 100%;
}

.leftnright,
.mini {
    display: none;
}

.product> :nth-child(2)> :nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.product> :nth-child(2)> :nth-child(1) h4 {
    transition: .8s;
    cursor: pointer;
}

.product> :nth-child(2)> :nth-child(1) h4:hover {
    text-decoration: underline;
}


.product> :nth-child(2)> :nth-child(1) span {
    width: 36px;
    display: flex;
    cursor: pointer;
}

.product> :nth-child(2)> :nth-child(1) h5 {
    font-weight: 400;
}

.product> :nth-child(2)> :nth-child(1) img {
    display: block;
    width: 18px;
    padding: 0 0 4px 4px;
    opacity: .2;
    transition: .8s;
}

.product> :nth-child(2)> :nth-child(1) img:hover {
    width: 22px;
    opacity: 1;
}

.product> :nth-child(2)>h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

.product> :nth-child(2)> :nth-child(3) {
    position: relative;
    padding: 30px 0px;
}

.product> :nth-child(2)> :nth-child(3) h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #c80a1e;
}

.product> :nth-child(2)> :nth-child(3) button {
    position: absolute;
    top: 33px;
    right: 0;
    color: #c80a1e;
    font-size: .8rem;
    letter-spacing: -.02rem;
    width: auto;
    height: 30px;
    padding: 5px;
    border: 1px solid #c80a1e;
    background-color: #fff;
    cursor: pointer;
    transition: .5s;
}

.product> :nth-child(2)> :nth-child(3) button:hover {
    background: #c80a1e;
    color: #fff;
}

.product> :nth-child(2)> :nth-child(4) * {
    padding: 10px 0;
}

.product> :nth-child(2)> :nth-child(4)> :nth-child(1),
.product> :nth-child(2)> :nth-child(4)> :nth-child(2) {
    border-bottom: 1px solid #e1e1e1;
}

.product> :nth-child(2)> :nth-child(4) {
    display: flex;
    flex-wrap: wrap;
}

.product> :nth-child(2)> :nth-child(4) p {
    width: 50%;
}

.product> :nth-child(2)> :nth-child(4) span {
    color: #999;
    margin-left: 5px;
}

.product> :nth-child(2)> :nth-child(5) {
    border-bottom: 1px solid #e1e1e1;
}

.product> :nth-child(2)> :nth-child(5) select {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 50px 0 20px;
    border: 1px solid #e1e1e1;
    transition: .5s;
    cursor: pointer;
}

.product> :nth-child(2)> :nth-child(5) select:hover {
    border: 1px solid #c80a1e;
}


.product> :nth-child(2)> :nth-child(6) {
    display: flex;
    justify-content: space-between;
}

.product> :nth-child(2)> :nth-child(6) h2 {
    font-size: 1.2rem;
    padding: 15px 0 30px 0;
}

.product> :nth-child(2)> :nth-child(7) {
    display: flex;
    justify-content: space-between;
}

.product> :nth-child(2)> :nth-child(7)> :nth-child(1) {
    width: 45%;
    margin-right: 10px;
}

.product> :nth-child(2)> :nth-child(7)> :nth-child(2) {
    width: 45%;
    margin-right: 10px;
}

.product> :nth-child(2)> :nth-child(7)> :nth-child(3) {
    width: 10%;
}



.btns :nth-child(1) {
    background-color: #c80a1e;
    color: #fff;
    border: 1px solid #c80a1e;
    font-weight: bold;
    transition: .5s;
}

.btns :nth-child(1):hover {
    background-color: #860714;
}

.btns :nth-child(2) {
    background-color: #63666A;
    color: #fff;
    border: 1px solid #63666A;
    font-weight: bold;
    transition: .5s;
}

.btns :nth-child(2):hover {
    background-color: #3a3c3f;
}

.btns :nth-child(3) {
    background: url("https://super.so/icon/dark/heart.svg") no-repeat 50% 50%;
    background-color: #f0f0f0;
    background-size: 24px;
    font-size: 0;
    transition: .8s;
}

.btns :nth-child(3):hover {
    background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBpZD0iaWNvbi1sb3ZlLTEiIGZpbGw9IiNjODBhMWUiPjxwYXRoIGQ9Im04IDE0Ljg4LS45OC0uOThDMy4zOCAxMC42OCAxIDguNTEgMSA1Ljg1IDEgMy42OCAyLjY4IDIgNC44NSAyIDYuMDQgMiA3LjIzIDIuNTYgOCAzLjQ3IDguNzcgMi41NiA5Ljk2IDIgMTEuMTUgMiAxMy4zMiAyIDE1IDMuNjggMTUgNS44NWMwIDIuNjYtMi4zOCA0LjgzLTYuMDIgOC4wNWwtLjk4Ljk4WiIgZmlsbD0iI2M4MGExZSIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+PC9zdmc+") no-repeat 50% 50%;
    background-size: 34px;
}



.banners {
    padding: 20px 0;
}

.banners img {
    margin-top: 5px;
    width: 100%;
}



.productinfo {
    padding: 30px;
}

.productinfo h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.productinfo_01 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: .8rem;
}

.productinfo_02 {
    display: none;
}



.moreview button {
    font-size: 0.9rem;
    letter-spacing: -.02rem;
    width: 100%;
    margin: 10px auto;
    padding: 8px 15px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    transition: 0.1s;
    cursor: pointer;
    background: #fff;
}

.moreview button img {
    width: 40px;
    padding: 10px 12px 12px;
}



.descriptions {
    padding: 30px 30px 80px 30px;
    text-align: center;
}

.descriptions img {
    width: 100%;
}

.descriptions section {
    padding-bottom: 30px;
}

.descriptions section div {
    padding: 30px 10px;
}



footer {
    background-color: #f0f0f0;
    color: #999;
    padding: 30px;
    font-size: 0.8rem;
}

footer> :nth-child(1) {
    font-size: .9rem;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 30px;
}

footer> :nth-child(1) a {
    color: #555555;
    padding: 5px;
    transition: .8s;
}

footer> :nth-child(1) a:hover {
    font-weight: bold;
}

footer> :nth-child(2) {
    border-bottom: 1px solid #e1e1e1;
}

footer> :nth-child(2)>div {
    padding: 10px 0;
}

footer> :nth-child(2)>:first-child {
    padding: 20px 0 0 0;
}

footer> :nth-child(3)>:last-child img {
    display: none;
}

footer article div button {
    font-size: 0.9rem;
    letter-spacing: -.02rem;
    width: auto;
    margin: 10px auto;
    padding: 8px 15px;
    border: 1px solid #aaa;
    transition: 0.8s;
    cursor: pointer;
}

footer article div button:hover {
    background: #3a3c3f;
    color: #fff;
}

footer> :last-child div {
    font-size: .7rem;
}

footer> :last-child div img {
    width: auto;
    height: 50px;
    padding: 10px;
}

footer> :last-child div> :nth-child(1) {
    padding-left: 0;
}







@media screen and (min-width:1366px) {
    .product {
        width: 1000px;
        margin: 80px auto 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .product>section {
        position: relative;
    }

    .product>section>img {
        width: 500px;

    }

    .product div img {
        display: block;
    }

    .product>:nth-child(2) {
        padding: 0;
    }

    .product> :nth-child(2)> :nth-child(4) {
        flex-wrap: nowrap;
        font-size: .8rem;

    }

    .product> :nth-child(2)> :nth-child(4)> :nth-child(1),
    .product> :nth-child(2)> :nth-child(4)> :nth-child(2) {
        border-bottom: 1px solid #fff;
    }

    .leftnright,
    .mini {
        display: block;
    }

    .leftnright {
        position: absolute;
        display: flex;
        right: 0;
        bottom: 207px;
    }

    .leftnright img {
        width: 50px;
        background-color: #f0f0f0;
        cursor: pointer;
        opacity: .8;
        transition: .8s;
    }

    .leftnright img:hover {
        opacity: .4;
    }

    .mini {
        display: flex;
    }

    .mini img {
        width: 120px;
        margin-right: 10px;
        cursor: pointer;
        opacity: .5;
        border: 1px solid #fff;
        transition: .8s;

    }

    .mini img:hover {
        opacity: 1;
        border: 1px solid #c80a1e;
    }



    .productinfo {
        width: 1000px;
        margin: 60px auto;
        padding: 0;
    }

    .productinfo> :nth-child(2) {
        display: flex;
        width: 100%;
        font-size: .8rem;
        padding-top: 20px;
    }

    .productinfo> :nth-child(2) div ul {
        margin-right: 60px;
    }

    .productinfo_01 {
        padding: 0px;
    }

    .productinfo_02 {
        display: flex;
        padding: 0px;
    }

    .productinfo> :nth-child(3) {
        display: none;
    }



    .descriptions {
        width: 1000px;
        margin: 0 auto;
        padding: 0;
    }

    .descriptions>section {
        display: flex;
    }

    .descriptions>:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;
    }

    .descriptions>section img {
        width: 60%;
        height: 400px;
    }

    .descriptions>section div {
        width: 40%;
        height: 400px;
    }

    .descriptions>section div h3 {
        margin-top: 15%;
        margin-bottom: 20px;
    }

    .descriptions>section div p {
        margin-bottom: 20px;
    }

    .descriptions>section div p span {
        color: #c80a1e;
        font-size: .7rem;
    }



    footer>article {
        width: 1000px;
        margin: 0 auto;
        font-size: .9rem;
    }

    footer> :nth-child(1) {
        display: flex;
        justify-content: space-between;
    }

    footer> :nth-child(3) {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    footer> :nth-child(3)>:last-child img {
        position: absolute;
        display: block;
        width: 55px;
        padding: 10px;
        background: rgba(255, 255, 255, .5);
        border: 1px solid #e1e1e1;
        top: -55px;
        right: 1px;
    }

    footer> :nth-child(4) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    footer> :nth-child(4) p {
        margin-top: 22px;
    }

    footer> :nth-child(4) img {
        margin-top: 10px;
    }
}