<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="review_mapper">

	<!-- 글 작성 -->
	<insert id="insert_review" parameterType="ReviewDto">
		insert into review_bbs (review_id, user_id, plan_id, title, content, stars)
		values ( review_id_seq.NEXTVAL, #{userId} , #{planId}, #{title}, #{content},  #{stars})
	</insert>
	
	<!-- 작성한 글 반환 -->
	<select id="select_review_id" resultType="ReviewDto">
		select review_id
		from review_bbs
		where user_id = #{userId}
		and plan_id = #{planId}
		and delete_at = 'N'
	</select>
	
	<!-- 글 임시저장 -->
	<insert id="insert_review_temp" parameterType="ReviewDto">
		insert into review_temp (user_id, plan_id, stars, title, content)
		values ( #{userId}, #{planId}, #{stars}, #{title}, #{content} )
	</insert>
	
	<!-- 임시저장 불러오기 -->
	<select id="select_review_temp" resultType="ReviewDto">
		select user_id, plan_id, stars, title, content
		from review_temp
		where user_id = #{userId}
	</select>
	
	<!-- 글 임시저장 변경 -->
	<update id="update_review_temp">
		update review_temp
		set title = #{title}, content = #{content}, stars = #{stars}, plan_id = #{planId}
		where user_id = #{userId}
	</update>
	
	<!-- 임시저장 삭제 -->
	<delete id="delete_review_temp">
		delete from review_temp
		where user_id = #{userId}
	</delete>
	
	<!-- 글목록 불러오기 (+검색기능) -->
	<select id="select_review_list" resultType="ReviewDto" parameterType="hashMap">
		select review_id, user_id, title, SUBSTR(create_date,1,10) create_date,
				views, like_count, comment_count
		from review_bbs
 		where 1=1
		<if test="searchCondition == 'title'">
			and title like '%'||#{keyword}||'%'
		</if>
		<if test="searchCondition == 'content'">
			and content like '%'||#{keyword}||'%'
		</if>
		<if test="searchCondition == 'ticon'">
			and (title like '%'||#{keyword}||'%') or (content like '%'||#{keyword}||'%')
		</if>
		<if test="searchCondition == 'user'">
			and user_id like '%'||#{keyword}||'%'
		</if>
		and delete_at = 'N'
		order by review_id desc
	</select>
	
	<!-- 글상세 불러오기 -->
	<select id="select_review_view" resultType="ReviewDto">
		select review_id, plan_id, user_id, title, content, create_date, views, like_count, stars, comment_count, update_date
		from review_bbs
 		where review_id = #{reviewId}
 		and delete_at = 'N'
	</select>
	
	<!-- 조회수 증가 -->
	<update id="update_review_views_increase">
		update review_bbs
		set views =  views + 1
		where review_id = #{reviewId}
		and user_id != #{userId}
	</update>
	
	<!-- 추천여부 확인 -->
	<select id="select_review_like" resultType="LikeDto">
	    select *
	    from review_like
	    where review_id = #{reviewId}
	    and user_id = #{userId}
	</select>
	
	<!-- 추천하기 -->
	<insert id="insert_review_like" parameterType="LikeDto">
	    insert into review_like
	    values ( #{reviewId}, #{userId} )
	</insert>
	
	<!-- 추천수 증가 -->
	<update id="update_review_like_increase">
		update review_bbs
		set like_count = (select count(*) from review_like where review_id = #{reviewId})
		where review_id = #{reviewId}
	</update>
	
	<!-- 이미지파일명 저장 -->
	<insert id="insert_review_image" parameterType="ReviewImgDto">
		insert into review_image (review_id, file_name)
		values ( #{reviewId}, #{fileName} )
	</insert>
	
	<!-- 이미지파일명 조회 -->
	<select id="select_review_image" resultType="ReviewImgDto">
		select review_id, file_name
		from review_image
 		where file_name = #{fileName}
	</select>
	
	<!-- 이미지파일명 전부 삭제 -->
	<delete id="delete_review_image">
		delete from review_image
		where review_id = #{reviewId}
	</delete>
	
	<!-- 글 삭제 -->
	<update id="update_review_delete_at">
		update review_bbs
		set delete_at = 'Y', delete_date = SYSDATE
		where review_id = #{reviewId}
	</update>
	
	<!-- 글 수정 -->
	<update id="update_review_modify">
		update review_bbs
		set title = #{title}, content = #{content}, stars = #{stars}, plan_id = #{planId}, update_date = SYSDATE
		where review_id = #{reviewId}
	</update>
	
</mapper>