<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="board_mapper">

	<!-- 게시글 상세페이지 호출과 조회수 업데이트 -->
	<!-- 글상세 불러오기 -->
	<select id="select_findPostById" parameterType="int" resultType="BoardDto">
		SELECT * 
			FROM join_board
 			WHERE PLAN_ID = #{planId} 
 	</select>
 	<!-- 조회수 업데이트  -->
 	<update id="">
 		UPDATE join_board
 			SET VIEWS = NVL(VIEWS,0) + 1
 		WHERE PLAN_ID = #{planId} 
 	</update>
 	<!-- 게시글 상세페이지 호출과 조회수 업데이트 -->
 
 
 	
 	<!--  게시판 상세보기시 조회수 증가 -->
	<!--	<update id="update_joinBoardViewIncrease" parameterType="BoardDto">  
			UPDATE join_board
			SET views = views +1 
			WHERE plan_id= #{planId} 
	</update> -->	
	
</mapper>	